{% extends 'layout.twig' %}
{% block content %}
    <div class="container">
        <div class="s12"><h5>Upload file here</h5></div>
        <div class="s12">
            <form action="/upload" method="post" class="dropzone" id="dropzone" enctype="multipart/form-data">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/src_dropzone.js"></script>
    <script>
        Dropzone.options.dropzone = {
            {% if not Auth.isLoggedIn %}
            maxFiles: 1,
            {% else %}
            maxFiles: 10,
            {% endif %}
            maxFilesize: 800,
            method: 'post',
            addRemoveLinks: true,
            acceptedFiles: "image/*,.dat,.pdf,.psd,.iso,.doc,.docx,.rar,.zip",
            init: function () {
                this.on('queuecomplete', function (file, response) {
                    // window.location.replace('/');
                });
                this.on("success", function(file, responseText) {
                    responseText = JSON.parse(responseText);
                    if (responseText.id !== 'all') {
                        window.location.replace('/show/'+responseText.id);
                    } else {
                        window.location.replace('/');
                    }
                });
            }
        }
    </script>
{% endblock %}
